{
    "openapi": "3.0.0",
    "info": {
        "title": "ExamsNepal  API",
        "description": "API Endpoints for Forum Questions",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.examsnepal.dworklabs.com/api/",
            "description": "Localhost API Server 1"
        },
        {
            "url": "http://192.168.100.18:8000/api/",
            "description": "Localhost API Server 2"
        },
        {
            "url": "http://192.168.100.23:8000/api/",
            "description": "Localhost API Server 3"
        },
        {
            "url": "http://127.0.0.1:8000/api/",
            "description": "Localhost API Server 4"
        }
    ],
    "paths": {
        "/add-subscriber/{studentId}": {
            "post": {
                "tags": [
                    "Admin Subscription"
                ],
                "summary": "Add or update a student's subscription",
                "description": "Admin can manually add or extend a student's subscription based on the selected subscription type.",
                "operationId": "AdminAddOrUpdateSubscription",
                "parameters": [
                    {
                        "name": "studentId",
                        "in": "path",
                        "description": "The ID of the student to whom the subscription belongs",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 12
                        }
                    }
                ],
                "requestBody": {
                    "description": "Validated subscription details",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "subscription_type_id"
                                ],
                                "properties": {
                                    "subscription_type_id": {
                                        "description": "The ID of the subscription type to assign",
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "remark": {
                                        "description": "Remarks or notes for this subscription update",
                                        "type": "string",
                                        "example": "Added manually by admin"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscription added or updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Subscription added updated successfully."
                                        },
                                        "subscriber": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 45
                                                },
                                                "student_profile_id": {
                                                    "type": "integer",
                                                    "example": 12
                                                },
                                                "subscription_type_id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 499
                                                },
                                                "paid": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 499
                                                },
                                                "paid_in_paisa": {
                                                    "type": "integer",
                                                    "example": 49900
                                                },
                                                "start_date": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-11T09:45:00Z"
                                                },
                                                "end_date": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2026-02-11T09:45:00Z"
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "TXN12345"
                                                },
                                                "payment_status": {
                                                    "type": "string",
                                                    "example": "PAYMENT_SUCCESS"
                                                },
                                                "status": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "remark": {
                                                    "type": "string",
                                                    "example": "Added manually by admin"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "example": {
                                                        "remark": "Added manually by admin"
                                                    }
                                                },
                                                "subscribed_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-11T09:45:00Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscription type or student not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "No query results for model [App\\\\Models\\\\SubscriptionType]"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The subscription_type_id field is required."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/doubtslist": {
            "get": {
                "tags": [
                    "Doubts"
                ],
                "summary": "Get logged in student question solved doubts",
                "operationId": "63ee1b98ce322c2b303deba5cb2c5810",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Doubt list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 679
                                                                    },
                                                                    "status": {
                                                                        "type": "string",
                                                                        "example": "Resolved"
                                                                    },
                                                                    "doubt": {
                                                                        "type": "string",
                                                                        "example": "2 answers"
                                                                    },
                                                                    "date": {
                                                                        "type": "string",
                                                                        "format": "date-time",
                                                                        "nullable": true
                                                                    },
                                                                    "remark": {
                                                                        "type": "string",
                                                                        "example": "C is correct"
                                                                    },
                                                                    "question": {
                                                                        "properties": {
                                                                            "question": {
                                                                                "type": "string",
                                                                                "example": "Becks triad is seen in"
                                                                            },
                                                                            "options": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "type": "integer",
                                                                                            "example": 3291693
                                                                                        },
                                                                                        "question_id": {
                                                                                            "type": "integer",
                                                                                            "example": 180938
                                                                                        },
                                                                                        "option": {
                                                                                            "type": "string",
                                                                                            "example": "Constrictive pericarditis"
                                                                                        },
                                                                                        "value": {
                                                                                            "type": "integer",
                                                                                            "example": 0
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "explanation": {
                                                                                "type": "string",
                                                                                "example": "Answer- C. Cardiac tamponade..."
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "exam_name": {
                                                                        "type": "string",
                                                                        "example": "Sprint Quiz Medicine CBQs"
                                                                    },
                                                                    "student": {
                                                                        "properties": {
                                                                            "name": {
                                                                                "type": "string",
                                                                                "example": "Amit Subedi"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page": {
                                                            "type": "integer",
                                                            "example": 48
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 478
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "doubt list"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/students-notifications": {
            "get": {
                "tags": [
                    "Notification"
                ],
                "summary": "Get all student notifications(ADMIN)",
                "description": "Get all student notifications(ADMIN)",
                "operationId": "AdminStudentNotifications",
                "responses": {
                    "200": {
                        "description": "User notifications",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "title": {
                                                        "type": "string",
                                                        "example": "some title here"
                                                    },
                                                    "body": {
                                                        "type": "string",
                                                        "example": "some body here"
                                                    },
                                                    "notified_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-06-05 16:45:52"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User anonymous user notifications"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/students-notifications/{id}": {
            "delete": {
                "tags": [
                    "Notification"
                ],
                "summary": "Delete a studet notification(ADMIN)",
                "description": "Delete a studet notification(ADMIN)",
                "operationId": "AdminStudentNotificationDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of a notification to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 5
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bank deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Bank deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/students/notifications": {
            "post": {
                "tags": [
                    "Notification"
                ],
                "summary": "Send notification to student(verified) based on ther exam type.",
                "description": "Send notification to student(verified) based on ther exam type.",
                "operationId": "BulkNotification",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "body"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "This is a title."
                                    },
                                    "body": {
                                        "type": "string",
                                        "example": "This is a description."
                                    },
                                    "exam_type_id": {
                                        "type": "integer",
                                        "example": 0
                                    },
                                    "send_and_store": {
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Notification response data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Notification send with 1 success and 0 failure"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/submit-answer": {
            "post": {
                "tags": [
                    "Quiz"
                ],
                "summary": "Saves question and option based on exam_id",
                "description": "Stores answers submitted by a student for a particular exam.",
                "operationId": "submitStudentAnswers",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "exam_id",
                                    "question_id",
                                    "answer_id",
                                    "is_exam_completed"
                                ],
                                "properties": {
                                    "exam_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "is_exam_completed": {
                                        "type": "integer",
                                        "example": 0
                                    },
                                    "question_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            180665,
                                            180666
                                        ]
                                    },
                                    "question_id": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            180665,
                                            180666
                                        ]
                                    },
                                    "option_id": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            684213,
                                            684220
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "409": {
                        "description": "If student exam has been completed or the requested question has already been answered.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Student has already submitted answers for this exam."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Requested questions has already been answered."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Form validation error / Request question and answer Array lengths don't match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "No. of questions must be equal to No. of options."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Validation Errror."
                                                },
                                                "status": {
                                                    "type": "boolean",
                                                    "example": "false."
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "example": ""
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "If answered saved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Answer Saved Successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "If All questions has been answered",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "All questions has been answered"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Answers submitted successfully!"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/view-solutions/{exam_id}": {
            "get": {
                "tags": [
                    "Quiz"
                ],
                "summary": "Fetch answers for a specific exam",
                "description": "Fetch all answers for the given exam for the authenticated student.",
                "operationId": "getResultsWithExam",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "exam_id",
                        "in": "path",
                        "description": "The unique identifier of the exam",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User Exam Solutions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 188718
                                                            },
                                                            "exam_id": {
                                                                "type": "integer",
                                                                "example": 2443
                                                            },
                                                            "question": {
                                                                "type": "string",
                                                                "example": "Which electrolyte disturbance is most commonly associated with chronic kidney disease?"
                                                            },
                                                            "explanation": {
                                                                "type": "string",
                                                                "example": "CKD impairs renal potassium excretion, leading to hyperkalemia, which can cause arrhythmias."
                                                            },
                                                            "options": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer",
                                                                            "example": 3273733
                                                                        },
                                                                        "question_id": {
                                                                            "type": "integer",
                                                                            "example": 188718
                                                                        },
                                                                        "option": {
                                                                            "type": "string",
                                                                            "example": "Hypernatremia"
                                                                        },
                                                                        "value": {
                                                                            "type": "integer",
                                                                            "example": 0
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "user_choosed": {
                                                                "type": "integer",
                                                                "example": 3273734
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 30
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User Exam Solutions"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/student/questions": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Fetch all questions based on the user's stream",
                "operationId": "5f8975f74f0dd4ec19f65c2eea3847af",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "pagination",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of questions"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/student/myquestions": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Fetch all questions created by me",
                "operationId": "c9e58b3446dbf1f37afac09db1dcf2c6",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of questions created by me"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/student/addquestion": {
            "post": {
                "tags": [
                    "Forum"
                ],
                "summary": "Add a new question",
                "description": "Adds a new question to the forum for the authenticated user.",
                "operationId": "addQuestion",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "question"
                                ],
                                "properties": {
                                    "question": {
                                        "description": "The question to be added.",
                                        "type": "string",
                                        "example": "What is the best way to improve my coding skills?"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Question added successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question added successfully"
                                        },
                                        "question": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 123
                                                },
                                                "question": {
                                                    "type": "string",
                                                    "example": "What is the best way to improve my coding skills?"
                                                },
                                                "stream": {
                                                    "type": "string",
                                                    "example": "Computer Science"
                                                },
                                                "deleted": {
                                                    "type": "integer",
                                                    "example": 0
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Student profile not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Student profile not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "question": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The question field is required"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/student/questions/edit/{id}": {
            "put": {
                "tags": [
                    "Forum"
                ],
                "summary": "Update a question by its ID if only created Question by Authenticated user",
                "description": "Update a question created by the authenticated user. Performs validation for uniqueness, stream type, and updates the question details.",
                "operationId": "updateQuestion",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the question to be updated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body to update the question",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "question"
                                ],
                                "properties": {
                                    "question": {
                                        "type": "string",
                                        "example": "What is the capital of Nepal?"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Question updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question updated successfully"
                                        },
                                        "question": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "question": {
                                                    "type": "string",
                                                    "example": "What is the capital of Nepal?"
                                                },
                                                "stream": {
                                                    "type": "string",
                                                    "example": "Science"
                                                },
                                                "deleted": {
                                                    "type": "integer",
                                                    "example": 0
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Stream type does not match for the student",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Stream type does not match for the student"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Question not found or already deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question not found or already deleted"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors in the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "question": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The question field is required."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "The user has already created this question",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "You have already created this question"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/student/questions/their/{id}": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Get a question by its ID Created By authenticated user",
                "description": "Fetch the details of a question if the authenticated user is the owner. Unauthorized access will return a 403 response.",
                "operationId": "getQuestionByTheirId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the question to be fetched",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Question details fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question details"
                                        },
                                        "question": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "question": {
                                                    "type": "string",
                                                    "example": "What is the capital of Nepal?"
                                                },
                                                "stream": {
                                                    "type": "string",
                                                    "example": "Science"
                                                },
                                                "deleted": {
                                                    "type": "integer",
                                                    "example": 0
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized access, the user is not the owner of the question",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "You are not authorized to access this question"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Question not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid ID format"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/student/questions/{id}": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Get a question by its ID",
                "description": "Fetch the details of a specific question by its ID. Only the owner of the question can view the details.",
                "operationId": "getQuestionById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the question",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Question details fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question details"
                                        },
                                        "question": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "question": {
                                                    "type": "string",
                                                    "example": "What is the capital of Nepal?"
                                                },
                                                "stream": {
                                                    "type": "string",
                                                    "example": "Science"
                                                },
                                                "deleted": {
                                                    "type": "integer",
                                                    "example": 0
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid ID format"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Question not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Forum"
                ],
                "summary": "Delete a question by its ID",
                "description": "Deletes a question if the authenticated user is the owner of the question.",
                "operationId": "deleteTheirQuestionCreated",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the question to be deleted",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Question deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized or Question not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized or Question not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/student/answers": {
            "post": {
                "tags": [
                    "Forum"
                ],
                "summary": "Add an answer to a question",
                "description": "Allows authenticated students to add an answer to a specified question in the forum.",
                "operationId": "addAnswer",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "question_id",
                                    "answer"
                                ],
                                "properties": {
                                    "question_id": {
                                        "description": "ID of the question being answered.",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "answer": {
                                        "description": "The answer to the question.",
                                        "type": "string",
                                        "example": "To improve your coding skills, practice daily and engage with community projects."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Answer added successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Answer added successfully!"
                                        },
                                        "answer": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "question_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 123
                                                },
                                                "answer": {
                                                    "type": "string",
                                                    "example": "To improve your coding skills, practice daily and engage with community projects."
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-03-21T12:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-03-21T12:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Question not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Question not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "question_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The question id field is required"
                                                    }
                                                },
                                                "answer": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The answer field is required"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/forum-question-view-increment/{id}": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Forum question view incrementor",
                "operationId": "a36e3109932a70736a0ef76fd7a2132b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "question id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "View incremented successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "view incremented"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/connectips/init-transaction": {
            "post": {
                "tags": [
                    "ConnectIPS"
                ],
                "summary": "Get logged in student question solved doubts",
                "operationId": "init_transaction",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "subscription_type_id"
                                ],
                                "properties": {
                                    "subscription_type_id": {
                                        "type": "integer",
                                        "example": "127181"
                                    },
                                    "promo_code": {
                                        "type": "string",
                                        "example": "DWORK2025"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Transaction generated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "merchant_id": {
                                                    "type": "string",
                                                    "example": "1122"
                                                },
                                                "app_id": {
                                                    "type": "string",
                                                    "example": "AME-3541-API-2"
                                                },
                                                "app_name": {
                                                    "type": "string",
                                                    "example": "TESTER Sol"
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "TXN202508181158374473"
                                                },
                                                "transaction_date": {
                                                    "type": "string",
                                                    "example": "2025-08-18"
                                                },
                                                "ref_id": {
                                                    "type": "string",
                                                    "example": "REF-68a2c4914c0f1"
                                                },
                                                "remarks": {
                                                    "type": "string",
                                                    "example": "RMKS-68a2c4914c0f4"
                                                },
                                                "particular": {
                                                    "type": "string",
                                                    "example": "PART-68a2c4914c0f5"
                                                },
                                                "price": {
                                                    "type": "string",
                                                    "example": "101.00"
                                                },
                                                "currency": {
                                                    "type": "string",
                                                    "example": "NPR"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "vHsFl9jS95G3BnQak1hd203AJs1H2ZWdqhP5W1wJYeVIv67VNg4VieqP8d4aZlKZ93gwf04qBF1lClsenNKRujlRmwj0Xgmh9UlcDR6ri2kufbVeBcslnQnlQCPhQydI7dR+6FYgdzOml6KGxL+iAekRlpvOUeWv5f14n9f6Jj8="
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "transaction generated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/connectips/transaction-successfull/{transaction_id}": {
            "get": {
                "tags": [
                    "ConnectIPS"
                ],
                "summary": "Get logged in student question solved doubts",
                "operationId": "validate_transaction",
                "parameters": [
                    {
                        "name": "transaction_id",
                        "in": "path",
                        "description": "Transaction ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "TXN39595"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction validation response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "merchantId": {
                                                    "type": "integer",
                                                    "example": 2288
                                                },
                                                "appId": {
                                                    "type": "string",
                                                    "example": "MER-3155-API-5"
                                                },
                                                "referenceId": {
                                                    "type": "string",
                                                    "example": "TXN39595"
                                                },
                                                "txnAmt": {
                                                    "type": "string",
                                                    "example": "100100"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "SUCCESS"
                                                },
                                                "statusDesc": {
                                                    "type": "string",
                                                    "example": "TRANSACTION SUCCESSFUL"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "transaction validation response"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "User Registration",
                "description": "Register a new user with username, password, fullname, email, and role. Triggers email verification.",
                "operationId": "registerUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "username",
                                    "password",
                                    "password_confirmation",
                                    "fullname",
                                    "email",
                                    "role"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "john_doe"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "fullname": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@example.com"
                                    },
                                    "role": {
                                        "type": "string",
                                        "example": "teacher"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully. Please verify your email."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "User already registered with this email",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User already registered with this email."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/student/login": {
            "post": {
                "tags": [
                    "Student Authentication"
                ],
                "summary": "Login Student",
                "description": "Authenticate a student and return a JWT token",
                "operationId": "loginStudent",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "fcm_token"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "dhurbac66@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "Nepal123#"
                                    },
                                    "fcm_token": {
                                        "type": "string",
                                        "example": "Q8nR457CD"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string",
                                            "example": "your_generated_jwt_token"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "bearer"
                                        },
                                        "expires_in": {
                                            "type": "integer",
[...]
